[Unit]
Description=alcman
After=network.target
Wants=network.target

[Service]
Type=simple
User=deploy
Group=www-data
WorkingDirectory=/var/www/alcman
ExecStart=/var/www/alcman/target/release/alcmanserver --serve --port 4002 --database /var/www/alcman/alcman.db
Environment="DISABLE_SIGNUPS=0"
Environment="OPENAI_API_KEY=sk-xxx"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
