/* reset */
html {
    /* fix line height in all browsers */
    line-height: 1.15;
    /* prevent adjustments of font size after orientation changes in iOS */
    -webkit-text-size-adjust: 100%;
}

body {
    /* remove margin in all browsers */
    margin: 0;
}

hr {
    /* fix height in Firefox */
    height: 0;
    /* fix inheritance of border color in Firefox */
    color: inherit;
}

abbr[title] {
    /* fix text decoration in Chrome, Edge, Safari. */
    text-decoration: underline dotted;
}

b,
strong {
    /* fix font weight in Edge and Safari */
    font-weight: bolder;
}

code,
kbd,
samp,
pre {
    /* improve consistency of default fonts in all browsers */
    font-family: monospace;
    /* correct the odd 'em' font sizing in all browsers */
    font-size: 1em;
}

small {
    /* fix font size in all browsers */
    font-size: 80%;
}

/* prevent sub and sup from affecting the line height in all browsers */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
    /* remove text indentation from table contents in Chrome and Safari */
    text-indent: 0;
    /* fix table border color inheritance in Chrome and Safari */
    border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
    /* fix font styles in all browsers */
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    /* remove margin in Firefox and Safari */
    margin: 0;
}

button,
select {
    /* remove inheritance of text transform in Edge and Firefox */
    text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    /* fix inability to style clickable types in iOS and Safari */
    -webkit-appearance: button;
}

/* remove inner border and padding in Firefox */
::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

:-moz-focusring {
    /* restore focus styles unset by the previous rule */
    outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
    /* remove additional ':invalid' styles in Firefox */
    box-shadow: none;
}

progress {
    /* fix vertical alignment in Chrome and Firefox */
    vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    /* fix cursor style of increment and decrement buttons in Safari */
    height: auto;
}

[type='search'] {
    /* fix appearance in Chrome and Safari */
    -webkit-appearance: textfield;
    /* fix outline in Safari */
    outline-offset: -2px;
}

::-webkit-search-decoration {
    /* remove inner padding in Chrome and Safari on macOS */
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    /* fix inability to style clickable types in iOS and Safari */
    -webkit-appearance: button;
    /* change font properties to 'inherit' in Safari. */
    font: inherit;
}

summary {
    /* fix display in Chrome and Safari */
    display: list-item;
}

/* general */
:root {
    --light-grey: #f5f5f5;
    --dark-grey: #888;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
    display: grid;
    grid-template-rows: 80px auto;
    grid-template-columns: 160px auto;
    grid-gap: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* form specific */
label {
    display: block;
    margin-top: 16px;
}

input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"] {
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"] {
    display: block;
    padding: 6px 16px;
    cursor: pointer;
    color: #000;
    background: #fff;
    border: 1px solid #000;
}

input[type="submit"]:hover {
    background: var(--dark-grey);
}

textarea {
    width: 100%;
    box-sizing: border-box;
    border: 5px solid var(--light-grey);
}

/* architecture */
header {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    padding: 8px;
}

#search {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
}

main {
    grid-column: 2;
    grid-row: 2;
    overflow-y: hidden;
}

aside {
    grid-column: 1;
    display: flex;
    flex-direction: column;
}

/* header specific */
h1 {
    font-size: 20px;
    font-weight: 400;
}

/* main specific */
.main-status {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.main-articles {
    margin-top: 16px;
    height: 100%;
    overflow-y: auto;
    padding-right: 8px;
}

.main-articles-item {
    display: grid;
    grid-template-columns: 300px auto 200px;
    grid-gap: 8px;
    padding: 16px 16px;
    background: var(--light-grey);
    margin-bottom: 8px;
}

.main-articles-item:last-child {
    /* no idea why I need this offset */
    margin-bottom: 64px;
}

.main-articles-item-date {
    text-align: right;
}

.main-new {
    width: 500px;
}

.main-new h1 {
    margin-top: 4px;
}

.main-single {
    line-height: 1.5;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 64px;
    padding-right: 16px;
}

.main-single-body {
    padding-bottom: 64px;
}

.main-single-body p {
    width: 600px;
}

.main-single-body img {
    width: 100%;
}

/* aside sidebar specific */
aside a {
    display: block;
    line-height: 1.8;
    padding-left: 8px;
    color: inherit;
    text-decoration: none;
}

aside a:hover {
    background: var(--light-grey);
    text-decoration: none;
}

.sidebar-tools {
    margin-bottom: 32px;
}

.sidebar-footer {
    margin-top: auto;
    padding-left: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    color: var(--dark-grey);
}

/* search bar specific */
#search form input[type="text"] {
    width: 400px;
    margin-right: 8px;
}

#search form {
    display: flex;
}
