{% extends "layout.html" %}

{% block title %}add book{% endblock title %}

{% block content %}
<section>
    <div class="page-row">
        <div class="page-header">
            <h1>add a book</h1>
            <p>add a new book to your collection</p>
        </div>
    </div>

    {% if let Some(error) = error_message %}
    <div class="page-row">
        <div class="page-error">{{ error }}</div>
    </div>
    {% endif %}

    <form method="post" action="/books/new">
        <div class="page-row">
            <div class="page-content">
                <label for="title">title</label>
                <input type="text" id="title" name="title" required>
            </div>
        </div>
        <div class="page-row">
            <div class="page-content">
                <label for="author">author</label>
                <input type="text" id="author" name="author">
            </div>
        </div>
        <div class="page-row">
            <div class="page-content">
                <label for="publication_year">pub year</label>
                <input type="number" id="publication_year" name="publication_year" min="1000" max="2100">
            </div>
        </div>
        <div class="page-row">
            <div class="page-content page-actions">
                <button type="submit">add book</button>
            </div>
        </div>
    </form>
</section>
{% endblock content %}
