{% extends "layout.html" %}

{% block title %}edit {{ book.title }}{% endblock title %}

{% block content %}
<section>
    <div class="page-row">
        <div class="page-header">
            <h1>edit book</h1>
        </div>
    </div>

    {% if let Some(error) = error_message %}
    <div class="page-row">
        <div class="page-error">{{ error }}</div>
    </div>
    {% endif %}

    <form method="post" action="/books/{{ book.id }}/edit">
        <div class="page-row">
            <div class="page-content">
                <label for="title">title</label>
                <input type="text" id="title" name="title" value="{{ book.title }}" required>
            </div>
        </div>
        <div class="page-row">
            <div class="page-content">
                <label for="author">author</label>
                <input type="text" id="author" name="author" value="{{ book.author.as_deref().unwrap_or_default() }}">
            </div>
        </div>
        <div class="page-row">
            <div class="page-content">
                <label for="publication_year">pub year</label>
                <input type="number" id="publication_year" name="publication_year" min="1000" max="2100" value="{% if let Some(year) = book.publication_year %}{{ year }}{% endif %}">
            </div>
        </div>
        <div class="page-row">
            <div class="page-content page-actions">
                <a href="/books/{{ book.id }}" class="btn">cancel</a>
                <button type="submit">save</button>
            </div>
        </div>
    </form>
</section>
{% endblock content %}
