<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}alcman{% endblock %}</title>
    <style>
        {% include "style.css" %}
    </style>
</head>
<body>
    <header>
        <nav>
            <a href="/" class="nav-logo">alcman</a>
            <div class="nav-links">
                {% if is_authenticated %}
                <a href="/feed">feed</a>
                <a href="/database">database</a>
                <a href="/books/new">add book</a>
                <a href="/books/quick-add">quick add</a>
                <a href="/profile">{{ username }}</a>
                {% else %}
                {% if !signups_disabled %}
                <a href="/login">login</a>
                <a href="/signup">sign up</a>
                {% endif %}
                {% endif %}
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>
