{% extends 'main/layout.html' %}

{% block content %}
<div class="main-status">
    <div class="main-status-left">
        {% if subscription %}
        Showing: {{ subscription.title }} — {{ subscription.url }}
        {% else %}
        All items
        {% endif %}
    </div>
    <div class="main-status-right">
        {% if request.user.sync_ongoing %}
        Sync started at {{ request.user.synced_at }}
        {% else %}
        All up-to-date. Last sync at {{ request.user.synced_at }}
        {% endif %}
    </div>
</div>
<div class="main-articles">
    {% for article in article_list %}
    <div class="main-articles-item">
        <div class="main-articles-item-blog">
            <a href="{% url 'subscription' article.subscription.slug %}">
                {{ article.subscription.title }}
            </a>
        </div>
        <div class="main-articles-item-title">
            <a href="{% url 'article' article.slug %}">
                {{ article.title }}
            </a>
        </div>
        <div class="main-articles-item-date">{{ article.published_at }}</div>
    </div>
    {% endfor %}
</div>
{% endblock %}
